
    body{
    
        height: 100vh;
        margin:0;
        padding:0;
        width:100%;
        background-image: url("background.jpeg");
        background-size: cover;
        background-position: center;

}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;  
    align-items: center;    
    font-size: 1em;
}
.section-one p{
    color:white;
    font-weight: lighter;
    line-height:1.2en;
    padding:20px
    
}
.section-two img{
    width:70%;
    opacity: 0.7;
    height:70%;
}
    
section-three p{
    color:black;
    font-weight: lighter;
    line-height:1
}
.section-three{
    background-image: url("climate\ impact\ on\ human.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
}
section-four p{
    color:white;
    font-weight: lighter;
    line-height: 1.2;
    padding: 30px;
}

.Section-four{
    background-image: url("industrial.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:aliceblue;
    padding:18px;}

.section-two{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    padding:40px;
}

/* LEFT TEXT */
.text-area{
    width:45%;
    color:white;
    font-size:22px;
    line-height:1.7;
}

/* RIGHT GRAPH */
.graph-box{

    width:300px;

    position:sticky;
    top:20px;

    background:rgba(255,255,255,0.05);

    padding:20px;

    border-radius:20px;

    backdrop-filter:blur(10px);

    border:1px solid orange;

    box-shadow:0 0 20px rgba(255,120,0,0.4);
}


/* GRAPH SIZE */
#temChart{
    width:100% !important;
    height:100px !important;
}





canvas{

    width: 85% !important;
    max-width: 500px;

    padding: 0;

    border-radius: 20px;

    background:
    rgb(136, 80, 12);

    border:
    1px solid rgba(255,165,0,0.25);

    box-shadow:
    0 0 25px rgba(255,140,0,0.25);

    backdrop-filter: blur(3px)



    




}
#temChart{
    width: 80% !important;;
    max-width: 900px;
    height: 500px !important;
}
